$color-white-50: #FFFFFF;
$color-white-25: #E0E0E0;
$color-green-250: #02897A;
$color-gray-200: #252B42;
$color-gray-75: #737373;
$color-gray-50: #AFAFAF;
$color-blue-50: #BCD0E5;
$color-white-200: #e6e6e6;

$color-red-60: #F03E3D;

$color-orange-50: #FF9900;

$color-blue-50: #4D8DFF;
$color-blue-100: #BCD0E5;
$color-blue-700: #173A56;

$color-green-250: #02897A;

$color-pink-700:  #740A76;

$color-brown-800: #2F281E;

$color-gray-150: #22343D;
$color-gray-100: #22343db9;
